<a href="https://colab.research.google.com/github/Sophia-lsts/intro-python-tomorrow-ufba-/blob/main/lista_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image.png]()

# Introdução à Programação com Python

Desenvolvido por: Laila Mota

Lista de exercícios Variáveis, Tipos de Dados e Operadores

Nome:

1. Dada uma lista que contém strings e inteiros:

`lst = ['maçã', 'uva', 12, 15, 15755, ['Fulano','Cicrano', 12, 11, 125,]]`

Imprima o tamanho da lista

In [ ]:
lista = ['maçã', 'uva', 12, 15, 15755, ['Fulano','Cicrano', 12, 11, 125,]]
len(lista)

6

2. Crie uma lista com 5 elementos, imprima sua lista, depois exclua um dos elementos da lista e imprima novamente.

In [ ]:
lista = ['goiaba', 'jambo', 17, 1989, 13]
len(lista)
list.pop(lista)
len(lista)

4

3. Crie três strings, depois concatene as strings para formar duas frases diferentes e imprima.

In [ ]:
string1 = "Eu sou "
string2 = " linda 😘."
string3 = " E também nerd 🤓"
print(string1 + string2 + string3)

Eu sou  linda 😘. E também nerd 🤓

4. Crie um programa que leia o nome completo de uma pessoa e mostre:

*   O nome com todas as letras maiúsculas e minúsculas.
*   Quantas letras ao todo (sem considerar espaços).
*   Quantas letras tem o primeiro nome.

In [ ]:
nome_usuario = input("Digite seu nome completo: ")
print((nome_usuario))
print(nome_usuario.upper())
print(nome_usuario.lower())
print(len(nome_usuario.replace(" ", "")))
print(len(nome_usuario.split()[0]))

# nome da string.upper deixa a string toda em maiúsculo
# replace " ", "" esta substituindo os espaços dentro da string que está na variável por "", ou seja, espaço nenhum
# string.split separa as palavras e [0] selecina a primeira.

Digite seu nome completo: Sophia Lima Santos
Sophia Lima Santos
SOPHIA LIMA SANTOS
sophia lima santos
16
6

5. Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e imprima quantas vezes o número 4 aparece na tupla.

In [ ]:
tupla = (1, 2, 2, 3, 4, 4, 4, 5)

vezes_4 = tupla.count(4)

print("Essa é a quantidade de vezes que o 4 aparece:", vezes_4)

Essa é a quantidade de vezes que o 4 aparece: 3

6. Faça um programa que leia o nome de uma pessoa e diga se ela tem "Silva" no nome.

In [ ]:
nome_da_pessoa = input("Digite o seu nome:")
if "Silva" in nome_da_pessoa:
    print("Você tem Silva no nome")
else:
    print("Você não tem Silva no nome")

# coloquei silva no meu nome só pra testar se estava certo kkk

Digite o seu nome:Sophia Lima e Silva
Você tem Silva no nome

7. Crie um programa que leia o nome e o ano de nascimento de 6 pessoas, armazene em um dicionário essas informações. No final, mostre:

*   Quantas pessoas são maiores de idade
*   Quantas pessoas são menores de idade
*   Os nomes das pessoas maiores de idade
*   Os nomes das pessoas menores de idade

In [ ]:
pessoa = {}

maiores_de_idade = 0
menores_de_idade = 0

for i in range (0,6):
    nome = input("Digite seu nome:")
    ano = int(input("Digite seu ano de nascimento:"))
    idade = 2024 - ano

    pessoa[nome] = idade

    if idade >= 18:
        maiores_de_idade += 1
    elif idade < 18:
        menores_de_idade += 1

print("O número de pessoas maiores de idade é: ", maiores_de_idade)
print("O número de pessoas menores de idade é: ", menores_de_idade)

print("Esses são os nomes das pessoas maiores de idade: ")
for nome, idade in pessoa.items():
    if idade >= 18:
        print(nome)

print("Esses são os nomes das pessoas menores de idade: ")
for nome, idade in pessoa.items():
    if idade < 18:
        print(nome)

Digite seu nome:Sophia
Digite seu ano de nascimento:2006
Digite seu nome:Felipe
Digite seu ano de nascimento:2005
Digite seu nome:Jansey
Digite seu ano de nascimento:2003
Digite seu nome:Vitoria
Digite seu ano de nascimento:2003
Digite seu nome:Melissa
Digite seu ano de nascimento:2007
Digite seu nome:Julia
Digite seu ano de nascimento:2009
O número de pessoas maiores de idade é:  4
O número de pessoas menores de idade é:  2
Esses são os nomes das pessoas maiores de idade:
Sophia
Felipe
Jansey
Vitoria
Esses são os nomes das pessoas menores de idade:
Melissa
Julia

8. Vamos refazer nossa calculadora. Crie um programa que leia dois valores numéricos e mostre um menu na tela:

```
[ A ] somar
[ B ] multiplicar
[ C ] maior
[ D ] novos números
[ E ] sair do programa

```
Seu programa deverá realizar a operação solicitada em cada caso.

In [ ]:
# enquanto isso for verdade faz o código rodar infinitamente até que a opção de "sair do programa" seja selecionada.
while True:
    num1 = float(input("Digite o primeiro número: "))
    num2 = float(input("Digite o segundo número: "))
# num 1 e num 2 foram definidos de forma global para servir em qualquer momento que for digitado, dentro do laço ou não.
    print("[ A ] somar"
"[ B ] multiplicar"
"[ C ] maior"
"[ D ] novos números"
"[ E ] sair do programa")

    opcao = input("Escolha uma opção: ").upper()
# upper caso o querido usuário faço o desfavor de digitar a letra em minúsculo 😒
    if opcao == 'A':
        print("A soma é:", num1 + num2)
    elif opcao == 'B':
        print("A multiplicação é:", num1 * num2)
    elif opcao == 'C':
        print("O maior número é:", max(num1, num2))
# (max) já define automaticamente quem é o maior entre os 2
    elif opcao == 'D':
        continue
# continue porque vai voltar e solicitar novos números
    elif opcao == 'E':
        print("Programa encerrado")
        break
# aqui foi usado else porque se nenhuma das condições acima foi satisfeita, é porque o usuário não digitou A, B, C, D nem E.
    else:
        print("Essa opção não existe. Escolha outra.")

Digite o primeiro número: 8
Digite o segundo número: 19
[ A ] somar[ B ] multiplicar[ C ] maior[ D ] novos números[ E ] sair do programa
Escolha uma opção: E
Programa encerrado

9. Crie um programa que vai ler cinco números e armazenar em uma tupla. Depois disso, mostre a listagem de números e também indique o menor e o maior valor que estão na tupla.

In [ ]:
num1 = int(input("Digite seu primeiro número: "))
num2 = int(input("Digite seu segundo número: "))
num3 = int(input("Digite seu terceiro número: "))
num4 = int(input("Digite seu quarto número: "))
num5 = int(input("Digite seu quinto número: "))

tupla = (num1, num2, num3, num4, num5)
# guardou os números digitados dentro da tupla

print("Esses foram os números digitados:", tupla)

menor_valor = min(tupla)
maior_valor = max(tupla)
# min e max já acham o valor mínimo e máximo da tupla

print("Esse é o menor valor da tupla:", menor_valor)
print("Esse é o maior valor da tupla:", maior_valor)

Digite seu primeiro número: 8
Digite seu segundo número: 2
Digite seu terceiro número: 5
Digite seu quarto número: 10
Digite seu quinto número: 7
Esses foram os números digitados: (8, 2, 5, 10, 7)
Esse é o menor valor da tupla: 2
Esse é o maior valor da tupla: 10

10. Desenvolva um programa que leia 6 valores pelo teclado e guarde-os em uma tupla. No final, mostre:

*   Quantas vezes apareceu o valor 9.
*   Em que posição foi digitado o primeiro valor 3.
*   Quais foram os números pares.

In [ ]:
valor1 = int(input("Digite seu primeiro número: "))
valor2 = int(input("Digite seu segundo número: "))
valor3 = int(input("Digite seu terceiro número: "))
valor4 = int(input("Digite seu quarto número: "))
valor5 = int(input("Digite seu quinto número: "))
valor6 = int(input("Digite seu sexto número: "))

minha_tupla = (valor1, valor2, valor3, valor4, valor5, valor6)
# guarda os valores dentro da tupla

quantos_nove = minha_tupla.count(9)
# nome_da_tupla.count(elemento) acha quantas vezes aquele elemento aparece na tupla.

posicao_tres = minha_tupla.index(3) + 1 if 3 in minha_tupla else None
# ali tem +1 porque indexação começa por 0, mas o valor que se quer é da posição 3.
numeros_pares = tuple(num for num in minha_tupla if num % 2 == 0)
# num % 2 = 0 -> números pares

print('Quantidade de vezes que o valor 9 apareceu:', quantos_nove)
if posicao_tres is not None:
    print('O primeiro valor 3 foi digitado na posição', posicao_tres)
# se posicao_tres não estiver vazia, mostra a posição que o primeiro 3 apareceu.
else:
    print('Não foi digitado o valor 3.')
# se o de cima não acontecer, é porque 3 não foi digitado.
print('Números pares digitados:')
for num in numeros_pares:
    print(num)

Digite seu primeiro número: 90
Digite seu segundo número: 9
Digite seu terceiro número: 3
Digite seu quarto número: 2
Digite seu quinto número: 4
Digite seu sexto número: 3
Quantidade de vezes que o valor 9 apareceu: 1
O primeiro valor 3 foi digitado na posição 3
Números pares digitados:
90
2
4