<a href="https://colab.research.google.com/github/Sophia-lsts/intro-python-tomorrow-ufba-/blob/main/lista_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image.png]()

# Introdu√ß√£o √† Programa√ß√£o com Python

Desenvolvido por: Laila Mota

Lista de exerc√≠cios Vari√°veis, Tipos de Dados e Operadores

Nome:

1. Dada uma lista que cont√©m strings e inteiros:

`lst = ['ma√ß√£', 'uva', 12, 15, 15755, ['Fulano','Cicrano', 12, 11, 125,]]`

Imprima o tamanho da lista

In [ ]:
lista = ['ma√ß√£', 'uva', 12, 15, 15755, ['Fulano','Cicrano', 12, 11, 125,]]
len(lista)

6

2. Crie uma lista com 5 elementos, imprima sua lista, depois exclua um dos elementos da lista e imprima novamente.

In [ ]:
lista = ['goiaba', 'jambo', 17, 1989, 13]
len(lista)
list.pop(lista)
len(lista)

4

3. Crie tr√™s strings, depois concatene as strings para formar duas frases diferentes e imprima.

In [ ]:
string1 = "Eu sou "
string2 = " linda üòò."
string3 = " E tamb√©m nerd ü§ì"
print(string1 + string2 + string3)

Eu sou  linda üòò. E tamb√©m nerd ü§ì

4. Crie um programa que leia o nome completo de uma pessoa e mostre:

*   O nome com todas as letras mai√∫sculas e min√∫sculas.
*   Quantas letras ao todo (sem considerar espa√ßos).
*   Quantas letras tem o primeiro nome.

In [ ]:
nome_usuario = input("Digite seu nome completo: ")
print((nome_usuario))
print(nome_usuario.upper())
print(nome_usuario.lower())
print(len(nome_usuario.replace(" ", "")))
print(len(nome_usuario.split()[0]))

# nome da string.upper deixa a string toda em mai√∫sculo
# replace " ", "" esta substituindo os espa√ßos dentro da string que est√° na vari√°vel por "", ou seja, espa√ßo nenhum
# string.split separa as palavras e [0] selecina a primeira.

Digite seu nome completo: Sophia Lima Santos
Sophia Lima Santos
SOPHIA LIMA SANTOS
sophia lima santos
16
6

5. Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e imprima quantas vezes o n√∫mero 4 aparece na tupla.

In [ ]:
tupla = (1, 2, 2, 3, 4, 4, 4, 5)

vezes_4 = tupla.count(4)

print("Essa √© a quantidade de vezes que o 4 aparece:", vezes_4)

Essa √© a quantidade de vezes que o 4 aparece: 3

6. Fa√ßa um programa que leia o nome de uma pessoa e diga se ela tem "Silva" no nome.

In [ ]:
nome_da_pessoa = input("Digite o seu nome:")
if "Silva" in nome_da_pessoa:
    print("Voc√™ tem Silva no nome")
else:
    print("Voc√™ n√£o tem Silva no nome")

# coloquei silva no meu nome s√≥ pra testar se estava certo kkk

Digite o seu nome:Sophia Lima e Silva
Voc√™ tem Silva no nome

7. Crie um programa que leia o nome e o ano de nascimento de 6 pessoas, armazene em um dicion√°rio essas informa√ß√µes. No final, mostre:

*   Quantas pessoas s√£o maiores de idade
*   Quantas pessoas s√£o menores de idade
*   Os nomes das pessoas maiores de idade
*   Os nomes das pessoas menores de idade

In [ ]:
pessoa = {}

maiores_de_idade = 0
menores_de_idade = 0

for i in range (0,6):
    nome = input("Digite seu nome:")
    ano = int(input("Digite seu ano de nascimento:"))
    idade = 2024 - ano

    pessoa[nome] = idade

    if idade >= 18:
        maiores_de_idade += 1
    elif idade < 18:
        menores_de_idade += 1

print("O n√∫mero de pessoas maiores de idade √©: ", maiores_de_idade)
print("O n√∫mero de pessoas menores de idade √©: ", menores_de_idade)

print("Esses s√£o os nomes das pessoas maiores de idade: ")
for nome, idade in pessoa.items():
    if idade >= 18:
        print(nome)

print("Esses s√£o os nomes das pessoas menores de idade: ")
for nome, idade in pessoa.items():
    if idade < 18:
        print(nome)

Digite seu nome:Sophia
Digite seu ano de nascimento:2006
Digite seu nome:Felipe
Digite seu ano de nascimento:2005
Digite seu nome:Jansey
Digite seu ano de nascimento:2003
Digite seu nome:Vitoria
Digite seu ano de nascimento:2003
Digite seu nome:Melissa
Digite seu ano de nascimento:2007
Digite seu nome:Julia
Digite seu ano de nascimento:2009
O n√∫mero de pessoas maiores de idade √©:  4
O n√∫mero de pessoas menores de idade √©:  2
Esses s√£o os nomes das pessoas maiores de idade:
Sophia
Felipe
Jansey
Vitoria
Esses s√£o os nomes das pessoas menores de idade:
Melissa
Julia

8. Vamos refazer nossa calculadora. Crie um programa que leia dois valores num√©ricos e mostre um menu na tela:

```
[ A ] somar
[ B ] multiplicar
[ C ] maior
[ D ] novos n√∫meros
[ E ] sair do programa

```
Seu programa dever√° realizar a opera√ß√£o solicitada em cada caso.

In [ ]:
# enquanto isso for verdade faz o c√≥digo rodar infinitamente at√© que a op√ß√£o de "sair do programa" seja selecionada.
while True:
    num1 = float(input("Digite o primeiro n√∫mero: "))
    num2 = float(input("Digite o segundo n√∫mero: "))
# num 1 e num 2 foram definidos de forma global para servir em qualquer momento que for digitado, dentro do la√ßo ou n√£o.
    print("[ A ] somar"
"[ B ] multiplicar"
"[ C ] maior"
"[ D ] novos n√∫meros"
"[ E ] sair do programa")

    opcao = input("Escolha uma op√ß√£o: ").upper()
# upper caso o querido usu√°rio fa√ßo o desfavor de digitar a letra em min√∫sculo üòí
    if opcao == 'A':
        print("A soma √©:", num1 + num2)
    elif opcao == 'B':
        print("A multiplica√ß√£o √©:", num1 * num2)
    elif opcao == 'C':
        print("O maior n√∫mero √©:", max(num1, num2))
# (max) j√° define automaticamente quem √© o maior entre os 2
    elif opcao == 'D':
        continue
# continue porque vai voltar e solicitar novos n√∫meros
    elif opcao == 'E':
        print("Programa encerrado")
        break
# aqui foi usado else porque se nenhuma das condi√ß√µes acima foi satisfeita, √© porque o usu√°rio n√£o digitou A, B, C, D nem E.
    else:
        print("Essa op√ß√£o n√£o existe. Escolha outra.")

Digite o primeiro n√∫mero: 8
Digite o segundo n√∫mero: 19
[ A ] somar[ B ] multiplicar[ C ] maior[ D ] novos n√∫meros[ E ] sair do programa
Escolha uma op√ß√£o: E
Programa encerrado

9. Crie um programa que vai ler cinco n√∫meros e armazenar em uma tupla. Depois disso, mostre a listagem de n√∫meros e tamb√©m indique o menor e o maior valor que est√£o na tupla.

In [ ]:
num1 = int(input("Digite seu primeiro n√∫mero: "))
num2 = int(input("Digite seu segundo n√∫mero: "))
num3 = int(input("Digite seu terceiro n√∫mero: "))
num4 = int(input("Digite seu quarto n√∫mero: "))
num5 = int(input("Digite seu quinto n√∫mero: "))

tupla = (num1, num2, num3, num4, num5)
# guardou os n√∫meros digitados dentro da tupla

print("Esses foram os n√∫meros digitados:", tupla)

menor_valor = min(tupla)
maior_valor = max(tupla)
# min e max j√° acham o valor m√≠nimo e m√°ximo da tupla

print("Esse √© o menor valor da tupla:", menor_valor)
print("Esse √© o maior valor da tupla:", maior_valor)

Digite seu primeiro n√∫mero: 8
Digite seu segundo n√∫mero: 2
Digite seu terceiro n√∫mero: 5
Digite seu quarto n√∫mero: 10
Digite seu quinto n√∫mero: 7
Esses foram os n√∫meros digitados: (8, 2, 5, 10, 7)
Esse √© o menor valor da tupla: 2
Esse √© o maior valor da tupla: 10

10. Desenvolva um programa que leia 6 valores pelo teclado e guarde-os em uma tupla. No final, mostre:

*   Quantas vezes apareceu o valor 9.
*   Em que posi√ß√£o foi digitado o primeiro valor 3.
*   Quais foram os n√∫meros pares.

In [ ]:
valor1 = int(input("Digite seu primeiro n√∫mero: "))
valor2 = int(input("Digite seu segundo n√∫mero: "))
valor3 = int(input("Digite seu terceiro n√∫mero: "))
valor4 = int(input("Digite seu quarto n√∫mero: "))
valor5 = int(input("Digite seu quinto n√∫mero: "))
valor6 = int(input("Digite seu sexto n√∫mero: "))

minha_tupla = (valor1, valor2, valor3, valor4, valor5, valor6)
# guarda os valores dentro da tupla

quantos_nove = minha_tupla.count(9)
# nome_da_tupla.count(elemento) acha quantas vezes aquele elemento aparece na tupla.

posicao_tres = minha_tupla.index(3) + 1 if 3 in minha_tupla else None
# ali tem +1 porque indexa√ß√£o come√ßa por 0, mas o valor que se quer √© da posi√ß√£o 3.
numeros_pares = tuple(num for num in minha_tupla if num % 2 == 0)
# num % 2 = 0 -> n√∫meros pares

print('Quantidade de vezes que o valor 9 apareceu:', quantos_nove)
if posicao_tres is not None:
    print('O primeiro valor 3 foi digitado na posi√ß√£o', posicao_tres)
# se posicao_tres n√£o estiver vazia, mostra a posi√ß√£o que o primeiro 3 apareceu.
else:
    print('N√£o foi digitado o valor 3.')
# se o de cima n√£o acontecer, √© porque 3 n√£o foi digitado.
print('N√∫meros pares digitados:')
for num in numeros_pares:
    print(num)

Digite seu primeiro n√∫mero: 90
Digite seu segundo n√∫mero: 9
Digite seu terceiro n√∫mero: 3
Digite seu quarto n√∫mero: 2
Digite seu quinto n√∫mero: 4
Digite seu sexto n√∫mero: 3
Quantidade de vezes que o valor 9 apareceu: 1
O primeiro valor 3 foi digitado na posi√ß√£o 3
N√∫meros pares digitados:
90
2
4