<a href="https://colab.research.google.com/github/Sophia-lsts/intro-python-tomorrow-ufba-/blob/main/lista_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image.png]()

# Introdução à Programação com Python

Desenvolvido por: Laila Mota

Lista de exercícios Variáveis, Tipos de Dados e Operadores

Nome: ***Sophia Lima***

1. Escreva comentários descrevendo o que o código abaixo faz

In [ ]:
nome = 'John Doe'
idade = 25
cidade = 'New York'

In [ ]:
# Esse código recebe entrada de dados de nome, idade e cidade

2. Crie variáveis com nomes descritivos dos seguintes valores
    1. Nome
    2. Idade
    3. Altura
    4. Cidade

In [ ]:
nome = "Sophia"
idade = 17
altura = 1.63
cidade = "Salvador"

3. Utilize os comandos type() e isinstance() para verificar os tipos de dados das variáveis anteriores

In [ ]:
type((nome))
isinstance(nome,str)

type((idade))
isinstance(idade,int)

type((altura))
isinstance(altura,float)

type((cidade))
isinstance(cidade,str)

True

4. Utilize a função print() para exibir as seguintes mensagens

    1. Olá, {nome}!
    2. Você tem {idade} anos.
    3. Sua altura é {altura}.
    4. Você mora em {cidade}.

In [ ]:
# primeira
print("Olá,", nome)
#segunda
print("Você tem", idade, "anos")
#terceira
print("Sua altura é", altura)
#quarta
print("Você mora em", cidade)

Olá, Sophia
Você tem 17 anos
Sua altura é 1.63
Você mora em Salvador

5. Faça um programa que leia um número Inteiro e mostre na tela o seu sucessor e seu antecessor

In [ ]:
número = int(input("Digite um número inteiro: "))
print(número - 1)
print(número + 1)

Digite um número inteiro: 6
5
7

6. Crie um algoritmo que leia um número e mostre o seu dobro, triplo e raiz quadrada

In [ ]:
número = int(input("Digite seu número: "))
print(número * 2)
print(número * 3)
print(número ** (1/2))

Digite seu número36
72
108
6.0

7. Faça um programa que leia a largura e a altura de uma parede em metros, calcule a sua área e a quantidade de tinta necessária para pintá-la, sabendo que cada litro de tinta pinta uma área de 2 metros quadrados.

In [ ]:
largura = float(input("Digite a largura: "))
altura1 = float(input("Digite a altura: "))
área = largura * altura1
qtinta = área / 2
print(qtinta, "litros")

Digite a largura: 50
Digite a altura: 3
75.0 litros

8. Crie uma calculadora diferente para cada uma das operações básicas. Ela deve ler os valores dos números A e B e imprimir o resultado da operação.

In [ ]:
#calculadora de soma
n1 = int(input("Digite o seu primero número: "))
n2 = int(input("Digite o seu segundo número: "))
print("Sua soma é", n1 + n2)

Digite o seu primero número: 4
Digite o seu segundo número: 5
Sua soma é 9

In [ ]:
#calculadora de subtração
n1 = int(input("Digite o seu primero número: "))
n2 = int(input("Digite o seu segundo número: "))
print("Sua subtração é", n1 - n2)

Digite o seu primero número: 18
Digite o seu segundo número: 9
Sua subtração é 9

In [ ]:
#calculadora de multiplicação
n1 = int(input("Digite o seu primero número: "))
n2 = int(input("Digite o seu segundo número: "))
print("O resultado de sua multiplicação é:", n1 * n2)

Digite o seu primero número: 5
Digite o seu segundo número: 6
O resultado de sua multiplicação é: 30

In [ ]:
#calculadora de divisão
n1 = int(input("Digite o seu primero número: "))
n2 = int(input("Digite o seu segundo número: "))
print("O resultado de sua divisão é:", n1 / n2)

Digite o seu primero número: 40
Digite o seu segundo número: 8
O resultado de sua divisão é: 5.0

9. Escreva uma expressão para determinar se uma pessoa deve ou não pagar imposto. Considere que pagam imposto pessoas cujo salário é maior que R$ 1.200,00. Seu programa apenas deve retornar True ou False.

In [ ]:
salário = float(input("Digite seu salário:"))
logicot = True
logicof = False

if (salário > 1200):
    print(logicot)
else:
    print(logicof)

Digite seu salário:900
False

10. Calcule o resultado da expressão ((A > B) and C or D), utilizando os valores da tabela a seguir.
![image.png]()

In [ ]:
A = 1
B = 2
C = True
D = False
expressão = ((A > B) and C or D)
print(expressão)

False

In [ ]:
A = 10
B = 3
C = False
D = False
expressão = ((A>B) and C or D)
print(expressão)

False

In [ ]:
A = 5
B = 1
C = True
D = True
expressão = ((A>B) and C or D)
print(expressão)

True

11. Escreva uma expressão que será utilizada para decidir se um aluno foi ou não aprovado. Para ser aprovado, todas as médias do aluno devem ser maiores que 7. Considere que o aluno cursa apenas três matérias, e que a nota de cada uma está armazenada nas seguintes variáveis: matéria1, matéria2 e matéria3. Seu código deve imprimir True ou False.

In [ ]:
matéria1 = float(input("Digite a nota da primeira matéria: "))
matéria2 = float(input("Digite a nota da segunda matéria: "))
matéria3 = float(input("Digite a nota da terceira matéria: "))

if (matéria1 > 7 and matéria2 > 7 and matéria3 > 7):
    print("True")
else:
    print("False")

Digite a nota da primeira matéria: 7
Digite a nota da segunda matéria: 8
Digite a nota da terceira matéria: 5
False

12. Escreva um programa que leia um valor em metros e o exiba convertido em milímetros.

In [ ]:
valor1 = float(input("Digite o valor em metros: "))
valor2 = valor1 * 1000

print("Esse é seu valor em milímetros,", valor2)

Digite o valor em metros: 4
Esse é seu valor em milímetros, 4000.0

13. Escreva um programa que leia a quantidade de dias, horas, minutos e segundos do usuário. Calcule o total em segundos.

In [ ]:
dias = float(input("Digite a quantidade de dias: "))
horas = float(input("Digite a quantidade de horas: "))
minutos = float(input("Digite a quantidade de minutos: "))
segundos = float(input("Digite a quantidade de segundos: "))
segundos2 = (dias * 24 * 60 * 60) + (horas * 60 * 60) + (minutos * 60) + segundos
print("Esse é o seu total de segundos: ", segundos2)

Digite a quantidade de dias: 4
Digite a quantidade de horas: 8
Digite a quantidade de minutos: 13
Digite a quantidade de segundos: 37
Esse é o seu total de segundos:  375217.0

14. Faça um programa que calcule o aumento de um salário. Ele deve solicitar o valor do salário e a porcentagem do aumento. Exiba o valor do aumento e do novo salário.

In [ ]:
salario = float(input("Digite o seu salário: "))
porcent = float(input("Digite a porcentagem de aumento: "))
aumento = (salario * porcent) /100
nsalario = aumento + salario
print(nsalario)

Digite o seu salário: 2800
Digite a porcentagem de aumento: 15
3220.0

15. Faça um programa que leia o comprimento do cateto oposto e do cateto adjacente de um triângulo retângulo. Calcule e mostre o comprimento da hipotenusa.

In [ ]:
cato = float(input("Digite o comprimento do cateto oposto: "))
cata = float(input("Digite o comprimento do cateto adjacante: "))
hipotenusa = ((cato ** 2) + (cata ** 2)) ** (1/2)
print("Esse é o valor da sua hipotenusa:", hipotenusa)

Digite o comprimento do cateto oposto: 3
Digite o comprimento do cateto adjacante: 4
Esse é o valor da sua hipotenusa: 5.0